<div class="content">
  {% for node in data %}
    <div>
      <a href="{{ node.node_url }}">
        <h1>{{ node.node_title }}</h1>
      </a>
    </div>
    <div>
      <img src="{{ node.node_img }}">
    </div>
    <div>{{ node.node_created|date("m/d/Y") }}</div>
    </br>
  {% endfor %}
</div>
